name: CI

on:
  push:
    branches:
      - develop
      - master
  pull_request:

jobs:
  Build:
    strategy:
      fail-fast: true
      matrix:
        # Due to https://github.com/actions/runner/issues/849, we have to use quotes for '3.0'
        ruby:
          - head
          - '3.2'
          - '3.1'
          - '3.0'
          - '2.7'
        os:
          - ubuntu
          - macos
          - windows

    runs-on: ${{ matrix.os }}-latest
    continue-on-error: ${{ matrix.ruby == '3.0' || matrix.ruby == 'head'}}
    name: Ruby ${{ matrix.ruby }} (${{ matrix.os }})
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: bundle exec rake
